image:
  - Visual Studio 2019

environment:

  global:
    # Remember to edit .travis.yml too
    BUILD_COMMIT: 8eb308a4b58a61a1b35584aedfd1ed533258e91f
    ANACONDA_ORG: ofajardo
    # ANACONDA_TOKEN should be set in appveyor

  matrix:

    # For Python versions available on Appveyor, see
    # http://www.appveyor.com/docs/installed-software#python
    # The list here is complete (excluding Python 2.6, which
    # isn't covered by this document) at the time of writing.

    - PYTHON_VERSION: "3.8"
    - PYTHON_VERSION: "3.9"
    - PYTHON_VERSION: "3.10"
    - PYTHON_VERSION: "3.11"
    - PYTHON_VERSION: "3.12"

platform:
  - x64
  #- x86

install:
  - git submodule update --init
  # activate conda
  - set CONDAPATH=C:\Miniconda38
  - if "%PLATFORM%" == "x64" set CONDAPATH=%CONDAPATH%-x64
  - call %CONDAPATH%\Scripts\activate
  # prepare environment with conda
  - conda config --add channels conda-forge
  - conda config --set channel_priority strict
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # create an environment with the appropiate python
  - conda create -y -n currentenv python=%PYTHON_VERSION%
  - conda activate currentenv
  # Check that we have the expected version and architecture for Python
  - python --version
  - python -c "import struct; print(struct.calcsize('P') * 8)"
  # install necessary packages
  #- conda install -q setuptools pip cython wheel
  - pip install cython
  - conda install -c conda-forge libpython
  # mingw64 toolchain to compile python extensions
  - conda install -q -c msys2 m2w64-toolchain


build_script:
  # Build and install the wheel
  - cd pyreadr
  - git fetch origin
  - git checkout %BUILD_COMMIT%
  # set mingw32 as compiler and produce the wheel
  - python.exe setup.py config --compiler=mingw32
  # Build and install the wheel
  - python setup.py bdist_wheel
  - ps: |
      # Upload artifact to Appveyor immediately after build
      ls dist -r | Foreach-Object {
          appveyor PushArtifact $_.FullName
          pip install $_.FullName
      }
  - cd dist
  - pip install --pre --no-index -f . pyreadr
  - cd ..


test_script:
  # Put your test command here.
  # If you don't need to build C extensions on 64-bit Python 3.3 or 3.4,
  # you can remove "build.cmd" from the front of the command, as it's
  # only needed to support those cases.
  # Note that you must use the environment variable %PYTHON% to refer to
  # the interpreter you're using - Appveyor does not do anything special
  # to put the Python version you want to use on PATH.
  #- "build.cmd %PYTHON%\\python.exe setup.py test"

  # Run some tests
  - pip install xarray
  - mkdir tmp
  - cd tmp
  - python ../tests/test_basic.py
  - cd ..

after_test:
  # This step builds your wheels.
  # Again, you only need build.cmd if you're building C extensions for
  # 64-bit Python 3.3/3.4. And you need to use %PYTHON% to get the correct
  # interpreter
  #- "build.cmd %PYTHON%\\python.exe setup.py bdist_wheel"
  - dir dist

#artifacts:
#  # bdist_wheel puts your built wheel in the dist directory
#  - path: dist\*

on_success:
  - cd dist
  - dir
  - conda deactivate
  - conda install -q -y anaconda-client
  #- pip install git+https://github.com/Anaconda-Platform/anaconda-client  
  - anaconda -t %ANACONDA_TOKEN% upload --force -u %ANACONDA_ORG% *.whl

